body{
    font-family: 'Ubuntu', sans-serif;
}
.logo{
    width: 220px;
}
.imagenInicio{
    background-image: url(https://images.unsplash.com/photo-1557159557-7a93eaadf72a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* height: 15rem; */
}
.tituloInicio{
    font-weight: 700;
}
.subtituloInicio{
    font-weight: 500;
}
main{
    background-color: aliceblue;
}
hr{
    opacity: 0.1;
}
.shadowCustom{
    text-shadow: 0 0 18px black;
}
.colorPrim{
    color: #0e6da3;
}
.colorSec{
    color: #0d9d65;
}
.itemNav{
    color: #0e6da3;
}
.cardViaje{
    width: 600px;
    min-width: 300px;
}
.btn-form{
    display: inline;
}