body{
    font-family: 'Ubuntu', sans-serif;
}
.logo{
    width: 220px;
}
.imagenInicio{
    background-image: url(https://images.unsplash.com/photo-1552329156-a4da70e4e8d9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1674&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 15rem;
}
.tituloInicio{
    font-weight: 700;
}
.subtituloInicio{
    font-weight: 500;
}
main{
    background-color: aliceblue;
}
hr{
    opacity: 0.1;
}
.shadowCustom{
    text-shadow: 0 0 18px black;
}
.colorPrim{
    color: #3da3de;
}
.colorSec{
    color: #07945e;
}