{% extends 'base.html' %}

{% block content_info %}
<div class="container">
    <div class="card w-100">
        <div class="card-body">
          <h5 class="card-title">{{usuario.user.username}}</h5>
          
          <!-- ACEPTAR -->
          <p class="card-text">Aceptar</p>
          <form method="POST" action="">
            {% csrf_token %}
            <input type="hidden" name="esta_aceptado" value="True"/>
            <input type="submit" name="guardar" id="aceptar">
          </form>
          
          <!-- RECHAZAR -->
          <p class="card-text">Rechazar</p>
          <form method="POST" action="">
            {% csrf_token %}
            <input type="hidden" name="esta_aceptado" value="False"/>
            <input type="submit" name="guardar" id="rechazar">
          </form>
          
        </div>
    </div>
</div>
{% endblock %}