{% extends 'base.html' %}

{% load crispy_forms_tags %} 
{% load static %}

{% block content_viaje %}
<div class="container py-4 vh-100">
  <h3 class="h3 pb-3 colorPrim">¡Busca tu viaje!</h3>
  <form action="." method="get">
    <div class="d-flex flex-column flex-md-row justify-content-lg-start text-center gap-4">
      <!-- {{ form|crispy }} -->
      {% for item in form %}
            <div class="fieldWrapper">
                {{ item.label }} {{ item }}
                {% if item.help_text %}
                    {{ item.help_text|safe }}
                {% endif %}
            </div>
            <br>
      {% endfor %}
    </div>
    <input class="btn bg-primary text-white me-3 my-3" type="submit" value="Buscar" />
  </form>
  <a href="{% url 'crear viaje' %}"><button class="btn bg-success text-white">Crear viaje</button></a>

  <div class="viajes mt-3">
  {% if lista_viajes|length == 0 %}
    <p class="text-center">No se encontraron resultados.</p>
  {% else %}
    <p class="text-center fs-3 colorSec">{{origen}} ➡ {{destino}}</p>

    {% for viaje in lista_viajes %}
      <div class="d-flex justify-content-center pt-4">
        <div class="card shadow rounded cardViaje">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <h5 class="card-title d-inline">{{viaje.conductor}}</h5>
              <h6 class="text-end d-inline">{{viaje.datetime}}</h6>
            </div>
            <hr>
              <p class="card-text mb-4">{{viaje.descripcion}}</p>
              <p class="card-text mb-4">Lugares disponibles: {{viaje.disponible}}</p>
              <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-primary text-center px-5 rounded-pill" data-bs-toggle="modal" data-bs-target="#exampleModal{{viaje.id}}">Ver más</button>
              </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="exampleModal{{viaje.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title fs-4" id="exampleModalLabel">{{viaje.conductor}}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul>
                    <li>Descripcion: {{viaje.descripcion}}</li>
                      <br>
                    <li>Fecha: {{viaje.datetime}}</li>
                      <br>
                    <li>Imagen: <img src="{{viaje.imagen_vehiculo.url}}" alt="Auto" width="90%"></li>
                      <br>
                    <li>Lugares disponibles: {{viaje.disponible}}</li>                  
                </ul>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <a class="btn btn-primary" href="https://wa.me/+54{{viaje.conductor.celular}}">Contactar</a>

              <form method="POST" action="">
                {% csrf_token %}
                <input type="hidden" name="user" value="0" />
                <input type="hidden" name="viaje" value="{{viaje.id}}"/>
                <input class="btn btn-success" value="Solicitar Unirme" type="submit" name="solicitar_unirse">
              </form>

              <!-- <button id="{{viaje.id}}" class="btn bg-success text-white my-3 boton-solicitar-unirse" type="button">Solicitar Unirme</button> -->
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  {% endif %}
</div>
{% endblock %}