{% extends 'base.html' %}

{% load static %}

{% block content_viaje %}
    
<div class="container w-50">
    <div class="row bg-white rounded border text-center">
      <div class="col-12">
        {% if conductor != None %}
          <img src="/media/{{conductor.foto_perfil}}" style="width: 200px;" class="rounded-pill p-2 mt-3 border" alt="Foto perfil">
        {% endif %}
      </div>
        <div class="col-12">
          <div class="card-body d-inline">
            <h5 class="card-title fs-3 pb-3">{{usuario.username}}  </h5>
            <hr class="divider">
            <p class="card-text">ID: {{usuario.id}}</p>
            <p class="card-text">Cantidad de viajes creados: {{usuario_viajes}}</p>
            {% if conductor == None %}
              <p class="card-text">Es pasajero</p>
            {% else %} 
              <p class="card-text">Es conductor - Licencia {{conductor.licencia}}</p>
            {% endif %}
          </div>
        </div>
    </div>
</div>

    
{% endblock %}