{% extends 'base.html' %}

{% load static %}

{% block content_viaje %}
<div class="fondoImagen2 py-5">
  <div class="container a">
    <div class="row bg-white text-center bordePerfil">
      <div class="col-12">
        {% if conductor != None %}
          <img src="/media/{{conductor.foto_perfil}}" style="width: 200px;" class="rounded-pill p-2 mt-3 border" alt="Foto perfil">
        {% else %}
          <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" fill="currentColor" class="bi bi-person-circle text-secondary p-2 mt-3 rounded-pill border" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
          </svg>
        {% endif %}
      </div>
        <div class="col-12">
          <div class="card-body d-inline">
            <h5 class="card-title fs-3 pb-3">{{usuario.username}}  </h5>
            <hr class="divider">
            <p class="card-text">ID: {{usuario.id}}</p>
            <p class="card-text">Cantidad de viajes creados: {{usuario_viajes}}</p>
            {% if conductor == None %}
              <p class="card-text">Es pasajero</p>
            {% else %} 
              <p class="card-text">Es conductor - Licencia {{conductor.licencia}}</p>
            {% endif %}
          </div>
        </div>
    </div>
  </div>
</div>

    
{% endblock %}