{% extends 'base.html' %}

{% block title %}ViajandoAndo{% endblock %}

{% block content %}

<div class="container-fluid px-0">
    <div class="imagenInicio">
        <div class="container py-5 text-center text-md-start text-white">
            <h3 class="tituloInicio fs-1 shadowCustom">ENCONTRÁ FACILMENTE A TUS COMPAÑEROS DE VIAJES</h3>
            <h4 class="subtituloInicio fs-3 shadowCustom">Dividí, ahorrá y ganá 😉</h4>
        </div>
    </div>
    <h4 class="fs-1 text-center py-5 shadow-lg">¿Qué es ViajandoAndo? 🗺️📌</h4>
    <div class="container">
        <p class="fs-4 m-5 text-center">Es un sitio web que te permite conectar con gente que esté dispuesta a viajar de un origen a un destino específico.</p>
    </div>
    
    


</div>

{% endblock %}