{% extends 'base.html' %}

{% block title %}ViajandoAndo{% endblock %}

{% load crispy_forms_tags %} 

{% block content %}

<div class="container py-4 vh-100">
  <h3 class="h3 pb-3 colorPrim">¡Busca tu viaje!</h3>
  <form action="." method="get">
    <div class="d-flex flex-column flex-md-row justify-content-lg-start text-center gap-4">
      <!-- {% csrf_token %} -->
      {{ form|crispy }}
      
    </div>
    <input class="btn bg-primary text-white me-3 my-3" type="submit" value="Buscar" />
  </form>
  <a href="{% url 'Creacion viaje' %}"><button class="btn bg-success text-white">Crear viaje</button></a>

<div class="viajes mt-3">

{% if lista_viajes|length == 0 %}
    <p class="text-center">No se encontraron resultados.</p>
{% else %}
    <p class="text-center fs-3 colorSec">{{origen}} ➡ {{destino}}</p>
    {% for viaje in lista_viajes %}
    <div class="d-flex justify-content-center pt-4">
      <div class="card shadow rounded cardViaje">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <h5 class="card-title d-inline">{{viaje.conductor}}</h5>
            <h6 class="text-end d-inline">{{viaje.datetime}}</h6>
          </div>
          <hr>
            <p class="card-text mb-4">{{viaje.descripcion}}</p>
            <div class="d-flex justify-content-end">
              <button type="button" class="btn btn-primary text-center px-5 rounded-pill" data-bs-toggle="modal" data-bs-target="#exampleModal{{forloop.counter}}">Ver más</button>
            </div>
        </div>
      </div>
    </div>

        <div class="modal fade" id="exampleModal{{forloop.counter}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title fs-4" id="exampleModalLabel">{{viaje.conductor}}</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul>
                        <li>Descripcion: {{viaje.descripcion}}</li>
                        <br>
                        <li>Fecha: {{viaje.datetime}}</li>
                        <br>
                        <li>Imagen: <img src="{{viaje.imagen.url}}" alt="Auto" width="250" height="250"></li>   
                    </ul>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  <button type="button" class="btn btn-primary">Contactar</button>
                  <form action="." method="post">
                    <button type="submit" class="btn btn-success">Solicitar Unirme</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
    {% endfor %}
{% endif %}
</div>

{% endblock %}